body {
	font-family: "Source Sans Pro";
}

#container {
	
}
header {
	background-color: #121212;
	border-bottom: 5px solid #f9e42e;
	height: 100px;
	padding: 20px;
}

header h1 {
	color: #f9e42e;
	font-size: 40px;
	line-height: 1px;
	font-family: "Merriweather";
}

nav {
	float: right;
}

nav a {
	width: 150px;
	text-decoration: none;
	color: white;
	margin: 10px;
	font-size: 20px;
	font-weight: 600;
}

.grey {
	font-family: "Merriweather";
	text-align: center;
	background-color: #606161;
}

.grey h2 {
	margin: 0;
	padding: 20px;
}

strike {
	color: gray;
}

.yellow {
	border-bottom: 2px solid #f9e42e;
}

.mym {
	background-image: url("coworking.jpg");
	height: 300px;
}